package com.expectra.roombooking.model;

import jakarta.persistence.*;
import lombok.Data;
import java.util.HashSet;
import java.util.Set;

@Entity
@Table(name = "contact")
@Data
public class Contact {
@Id
@GeneratedValue(strategy = GenerationType.IDENTITY)
@Column(name = "contact_id")
private Long contactId;

@Column(name = "first_name", nullable = false)
private String firstName;

@Column(name = "last_name", nullable = false)
private String lastName;

@Column(name = "contact_title", nullable = false)
private String contactTitle;

@Column(name = "contact_local_number", nullable = false)
private String contactLocalNumber;

@Column(name = "contact_mobile_number", nullable = false)
private String contactMobileNumber;

@Column(name = "contact_fax_number")
private String contactFaxNumber;

@Column(name = "contact_email", nullable = false)
private String contactEmail;

// Relación Many-to-Many con Hotel

@ManyToMany(mappedBy = "contacts")
private Set<Hotel> hotels = new HashSet<>();

    // Métodos de utilidad para manejar la relación
    public void addHotel(Hotel hotel) {
    this.hotels.add(hotel);
    hotel.getContacts().add(this);
    }

    public void removeHotel(Hotel hotel) {
    this.hotels.remove(hotel);
    hotel.getContacts().remove(this);
    }
    // Relación Many-to-Many con Address
    @ManyToMany(mappedBy = "contacts")
    private Set<Address> addresses = new HashSet<>();

        public void addAddress(Address address) {
        this.addresses.add(address);
        address.getContacts().add(this);
        }
        public void removeAddress(Address address) {
        this.addresses.remove(address);
        address.getContacts().remove(this);
        }
        }
        package com.expectra.roombooking.model;

        import jakarta.persistence.*;
        import jakarta.validation.constraints.NotBlank;
        import lombok.Data;

        import java.util.HashSet;
        import java.util.Set;

        @Entity
        @Table(name = "hotel")
        @Data
        public class Hotel {
        @Id
        @GeneratedValue(strategy = GenerationType.IDENTITY)
        @Column(name = "hotel_id")
        private Long hotelId;

        @NotBlank(message = "El nombre del hotel no puede estar vacío")
        @Column(name = "hotel_name", nullable = false)
        private String hotelName;

        @Column(name = "local_phone")
        private String localPhone;

        @Column(name = "celular_phone")
        private String celularPhone;

        @Column(name = "pms_vendor")
        private String pmsVendor;

        @Column(name = "pms_hotel_id")
        private Long pmsHotelId;

        @Column(name = "pms_token")
        private String pmsToken; // Cambiado de Long a String

        @Column(name = "crs_vendor")
        private String crsVendor;

        @Column(name = "crs_hotel_id")
        private Long crsHotelId;

        @Column(name = "crs_token")
        private String crsToken; // Cambiado de Long a String

        @Column(name = "disclaimer")
        private String disclaimer;

        // Relación uno a muchos con Room
        @OneToMany(mappedBy = "hotel", cascade = CascadeType.ALL, orphanRemoval = true)
        private Set<Room> rooms = new HashSet<>(); // Representa las habitaciones asociadas

            @ManyToMany(fetch = FetchType.LAZY)
            @JoinTable(
            name = "hotel_contact",
            joinColumns = @JoinColumn(name = "hotel_id"),
            inverseJoinColumns = @JoinColumn(name = "contact_id")
            )
            private Set<Contact> contacts = new HashSet<>();

                // Métodos de utilidad para manejar la relación con Contact
                public void addContact(Contact contact) {
                this.contacts.add(contact);
                contact.getHotels().add(this);
                }

                public void removeContact(Contact contact) {
                this.contacts.remove(contact);
                contact.getHotels().remove(this);
                }
                @ManyToMany(fetch = FetchType.LAZY)
                @JoinTable(
                name = "hotel_amenity",
                joinColumns = @JoinColumn(name = "hotel_id"),
                inverseJoinColumns = @JoinColumn(name = "amenity_id")
                )
                private Set<Amenity> amenities = new HashSet<>();

                    @ManyToMany(fetch = FetchType.LAZY)
                    @JoinTable(
                    name = "hotel_media",
                    joinColumns = @JoinColumn(name = "hotel_id"),
                    inverseJoinColumns = @JoinColumn(name = "media_id")
                    )
                    private Set<Media> media = new HashSet<>();

                        // Relación Many-to-Many con Address
                        @ManyToMany(fetch = FetchType.LAZY)
                        @JoinTable(
                        name = "hotel_address",
                        joinColumns = @JoinColumn(name = "hotel_id"),
                        inverseJoinColumns = @JoinColumn(name = "address_id")
                        )
                        private Set<Address> addresses = new HashSet<>();


                            // Métodos de utilidad para manejar la relación con Address
                            public void addAddress(Address address) {
                            this.addresses.add(address);
                            address.getHotels().add(this);
                            }

                            public void removeAddress(Address address) {
                            this.addresses.remove(address);
                            address.getHotels().remove(this);
                            }
                            }
                            package com.expectra.roombooking.model;

                            import jakarta.persistence.*;
                            import lombok.Data;

                            import java.util.HashSet;
                            import java.util.Set;

                            @Entity
                            @Table(name="media")
                            @Data
                            public class Media {
                            @Id
                            @GeneratedValue(strategy=GenerationType.IDENTITY)
                            @Column(name="media_id")
                            private Long mediaId;

                            @Column(name="media_code", nullable=false)
                            private Integer mediaCode;

                            @Enumerated(EnumType.STRING) // Almacena el valor del Enum como una cadena en la base de datos
                            @Column(name="media_type")
                            private MediaType mediaType;

                            @Column(name="media_description")
                            private String mediaDescription;

                            @Column(name="media_url")
                            private String mediaUrl;

                            // Relación con Hotel a través de la tabla intermedia hotel_media
                            @ManyToMany(mappedBy="media")
                            private Set<Hotel> hotels = new HashSet<>();

                                @ManyToMany(mappedBy="media")
                                private Set<Room> rooms = new HashSet<>();

                                    }
                                    package com.expectra.roombooking.model;

                                    import lombok.Data;
                                    import jakarta.persistence.*;

                                    import java.util.HashSet;
                                    import java.util.Set;

                                    @Entity
                                    @Table(name="room")
                                    @Data
                                    public class Room {
                                    @Id
                                    @GeneratedValue(strategy=GenerationType.IDENTITY)
                                    @Column(name="room_id")
                                    private Long roomId;

                                    @Column(name="room_number", nullable=false)
                                    private Integer roomNumber;

                                    @Enumerated(EnumType.STRING) // Almacena el valor del Enum como una cadena en la base de datos
                                    @Column(name="room_type", nullable=false) // Tipo de habitación, puedes definir un Enum si es necesario.
                                    private RoomType roomType;

                                    @Column(name="room_name")
                                    private String roomName;

                                    // Relación con Hotel (1:N) - cada habitación pertenece a un solo hotel.
                                    @ManyToOne(fetch = FetchType.LAZY)
                                    @JoinColumn(name = "room_hotel_id", nullable = false)
                                    private Hotel hotel;

                                    // Relación con Amenity a través de la tabla intermedia room_amenity.
                                    @ManyToMany
                                    @JoinTable(
                                    name="room_amenity",
                                    joinColumns=@JoinColumn(name="room_id"),
                                    inverseJoinColumns=@JoinColumn(name="amenity_id"))
                                    private Set<Amenity> amenities; // Relación con Amenity

                                        // Relación con Media a través de la tabla intermedia room_media.
                                        @ManyToMany
                                        @JoinTable(
                                        name="room_media",
                                        joinColumns=@JoinColumn(name="room_id"),
                                        inverseJoinColumns=@JoinColumn(name="media_id"))
                                        private Set<Media> media = new HashSet<>();

                                            }
                                            package com.expectra.roombooking.model;

                                            public enum MediaType {
                                            IMAGE,
                                            VIDEO,
                                            AUDIO
                                            }
                                            package com.expectra.roombooking.model;

                                            public enum RoomType {
                                            SINGLE,
                                            DOUBLE,
                                            SUITE
                                            }
